<%- include('partials/header') -%>
<div class="text-center">
  <h1 class="">Dashboard</h1>
</div>
<main class="container">
  <div class="row justify-content-around mt-5">
      <a href="/application" class="col-3 btn btn-primary"> Application</a>
      <a href="/constructionDocs" class="col-3 btn btn-primary"> Construction Documents</a>
  </div>
  <div class="row justify-content-around mt-5">
    <a href="/ahjEditor" class="col-3 btn btn-primary"> AHJ Editor</a>
    <a href="/profile" class="col-3 btn btn-primary"> Profile</a>
</div>
</main>


<%- include('partials/footer') -%>
